@model WebApplication.ViewModels.TimetablesViewModel

<div class="container text-center align-middle w-50">
    <form method="post">
        <h2>Edit Timetable</h2>

        <p>
            <input type="number" name="Timetable.TimetableId" value="@Model.Timetable.TimetableId" hidden />
            <input type="number" name="DefaultShowId" value="@Model.Timetable.ShowId" hidden />
            <input name="CurrentHomePage" value="@Model.CurrentHomePage" hidden />
        </p>

        <div class="text-danger text-justify w-100" asp-validation-summary="ModelOnly"></div>

        <p>
            <label class="col-form-label" asp-for="Timetable.DayOfWeek"></label><br />
            <input type="number" name="Timetable.DayOfWeek" value="@Model.Timetable.DayOfWeek" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Timetable.DayOfWeek"></span></p>


        <p>
            <label class="col-form-label" asp-for="Timetable.Month"></label><br />
            <input type="number" name="Timetable.Month" value="@Model.Timetable.Month" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Timetable.Month"></span></p>


        <p>
            <label class="col-form-label" asp-for="Timetable.Year"></label><br />
            <input type="number" step="1" name="Timetable.Year" value="@Model.Timetable.Year" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Timetable.Year"></span></p>


        <p>
            <label class="col-form-label" asp-for="Timetable.ShowId"></label><br />
            <select class="w-75" name="Timetable.ShowId" asp-for="Timetable.ShowId" asp-items="@(new SelectList(Model.Shows, "ShowId", "Name"))">
                <option selected value="@Model.Timetable.Show.Name">Please choose value</option>
            </select>


        <p>
            <label class="col-form-label" asp-for="Timetable.StartTime"></label><br />
            <input type="time" step="1" name="Timetable.StartTime" value="@Model.Timetable.StartTime" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Timetable.StartTime"></span></p>

        <p>
            <input type="submit" value="Save" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.CurrentHomePage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>
