@model WebApplication.ViewModels.ShowsViewModel

<div class="container text-center align-middle w-50">
    <form method="post">
        <h2>Edit show</h2>
        
        <p>
            <input type="text" name="Show.ShowId" value="@Model.Show.ShowId" hidden />
            <input type="text" name="DefaultGerneId" value="@Model.Show.GenreId" hidden />
            <input name="CurrentHomePage" value="@Model.CurrentHomePage" hidden />
        </p>

        <div class="text-danger text-justify w-100" asp-validation-summary="ModelOnly"></div>

        <p>
            <label class="col-form-label" asp-for="Show.Name"></label><br />
            <input type="text" name="Show.Name" value="@Model.Show.Name" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.Name"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.ReleaseDate"></label><br />
            <input type="date" name="Show.ReleaseDate" value="@Model.Show.ReleaseDate.ToString("yyyy-MM-dd")" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.ReleaseDate"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.Duration"></label><br />
            <input type="time" step="1" name="Show.Duration" value="@Model.Show.Duration" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.Duration"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.Mark"></label><br />
            <input type="number" name="Show.Mark" value="@Model.Show.Mark" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.Mark"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.MarkMonth"></label><br />
            <input type="number" name="Show.MarkMonth" value="@Model.Show.MarkMonth" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.MarkMonth"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.MarkYear"></label><br />
            <input type="number" name="Show.MarkYear" value="@Model.Show.MarkYear" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.MarkYear"></span></p>


        <p>
            <label class="col-form-label" asp-for="Show.GenreId"></label><br />
            <select class="w-75" name="Show.GenreId" asp-for="Show.GenreId" asp-items="@(new SelectList(Model.Genres, "GenreId", "GenreName"))">
                <option selected value="@Model.Show.Genre.GenreName">Please choose value</option>
            </select>


        <p>
            <label class="col-form-label" asp-for="Show.Description"></label><br />
            <input type="text" name="Show.Description" value="@Model.Show.Description" class="w-75" />
        <p><span class="text-danger" asp-validation-for="Show.Description"></span></p>

        <p>
            <input type="submit" value="Save" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.CurrentHomePage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>
