@model WebApplication.ViewModels.Entities.ShowsViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container text-center w-50">
    <form method="post">
        <h2>Edit entity</h2>

        <div>
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
            <input hidden asp-for="Entity.ShowId" value="@Model.Entity.ShowId" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
            <label asp-for="Entity.Name"></label><br />
            <input asp-for="Entity.Name" class="w-75" />
        <p><span asp-validation-for="Entity.Name" value="@Model.Entity.Name" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.ReleaseDate"></label><br />
            <input asp-for="Entity.ReleaseDate" class="w-75" />
        <p><span asp-validation-for="Entity.ReleaseDate" value="@Model.Entity.ReleaseDate" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Duration"></label><br />
            <input asp-for="Entity.Duration" class="w-75" />
        <p><span asp-validation-for="Entity.Duration" value="@Model.Entity.Duration" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Mark"></label><br />
            <input asp-for="Entity.Mark" class="w-75" />
        <p><span asp-validation-for="Entity.Mark" value="@Model.Entity.Mark" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.MarkMonth"></label><br />
            <input asp-for="Entity.MarkMonth" class="w-75" />
        <p><span asp-validation-for="Entity.MarkMonth" value="@Model.Entity.MarkMonth" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.MarkYear"></label><br />
            <input asp-for="Entity.MarkYear" class="w-75" />
        <p><span asp-validation-for="Entity.MarkYear" value="@Model.Entity.MarkYear" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.GenreId"></label><br />
            <select asp-for="Entity.GenreId" asp-items="Model.SelectList" class="w-75"></select>
        <p><span asp-validation-for="Entity.GenreId" class="text-danger"></span></p>

        <p>
            <label asp-for="Entity.Description"></label><br />
            <input asp-for="Entity.Description" class="w-75" />
        <p><span asp-validation-for="Entity.Description" value="@Model.Entity.Description" class="text-danger"></span></p>

        <p>
            <input type="submit" value="Edit" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>

