@model IEnumerable<Show>
@{
    ViewData["Title"] = "Table 'Shows'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Release date</td>
            <td>Duration</td>
            <td>Mark</td>
            <td>Mark month</td>
            <td>Mark year</td>
            <td>Genre</td>
            <td>Description</td>
        </tr>

        @foreach (var show in Model)
        {
            <tr>
                <td>@show.Name</td>
                <td>@show.ReleaseDate.ToString("d")</td>
                <td>@show.Duration</td>
                <td>@show.Mark</td>
                <td>@show.MarkMonth</td>
                <td>@show.MarkYear</td>
                <td>@show.Genre?.GenreName</td>
                <td>@show.Description</td>
            </tr>
        }
    </table>
</p>
