@model WebApplication.ViewModels.Entities.GenresViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="container text-center align-middle w-75">
    <form method="post">
        <p>
            <input hidden asp-for="Entity.GenreId" value="@Model.Entity.GenreId" />
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
        </p>

        @if (!Model.DeleteViewModel.IsDeleted)
        {
            <h2>Deletion process</h2>

            <p><h3>@Model.DeleteViewModel.Message</h3></p>

            <p><input type="submit" class="btn btn-danger w-50" value="Delete"></p>
            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-primary w-50">Back</a></p>
        }
        else
        {
            <h2>Deletion result</h2>

            <p><h3>@Model.DeleteViewModel.Message</h3></p>

            <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-primary w-50">Back</a></p>
        }
    </form>
</div>