@model WebApplication.ViewModels.GenresViewModel

<div class="container text-center align-middle w-75">
    <form method="post">
        <p>
            <input name="Genre.GenreId" value="@Model.Genre.GenreId" hidden />
        </p>

        @if (Model.DeleteViewModel.IsForDelete)
        {
            <h2 >Deletion process</h2>

            <p><h3>@Model.DeleteViewModel.Message</h3></p>

            <p><input type="submit" class="btn btn-danger w-50" value="Delete"></p>
            <p><a asp-action="Index" asp-route-page="@Model.CurrentHomePage" class="btn btn-primary w-50">Back</a></p>
        }
        else
        {
            <h2>Deletion result</h2>

            <p><h3>@Model.DeleteViewModel.Message</h3></p>

            <p><a asp-action="Index" asp-route-page="@Model.CurrentHomePage" class="btn btn-primary w-50">Back</a></p>
        }
    </form>
</div>