@model WebApplication.ViewModels.Entities.GenresViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container text-center align-middle w-50">
    <form method="post">
        <div>
            <input hidden asp-for="PageViewModel.CurrentPage" value="@Model.PageViewModel.CurrentPage" />
            <input hidden asp-for="Entity.GenreId" value="@Model.Entity.GenreId" />
        </div>


        <h2>Edit entity</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-justify w-100 m-lg-0"></div>

        <p>
            <label asp-for="Entity.GenreName"></label><br />
            <input asp-for="Entity.GenreName" value="@Model.Entity.GenreName" class="w-75" />
        <p><span asp-validation-for="Entity.GenreName" class="text-danger"></span></p>


        <p>
            <label asp-for="Entity.GenreDescription" class="col-form-label"></label><br />
            <input asp-for="Entity.GenreDescription" value="@Model.Entity.GenreDescription" class="w-75" />
        <p><span asp-validation-for="Entity.GenreDescription" class="text-danger"></span></p>


        <p>
            <input type="submit" value="Save" class="btn btn-success w-75" />
        <p><a asp-action="Index" asp-route-page="@Model.PageViewModel.CurrentPage" class="btn btn-danger w-75">Back</a></p>
    </form>
</div>
